<%= render 'shared/validation_helper', :resource => @question %>

<%= form_for @question, :role => 'form' do |f| %>

    <legend>Question's statement</legend>
    <div class="form-group">
      <%= render partial: 'shared/markdown_input_editor',
                 locals: {form: f, field_name: :statement, markdown_value: @question.statement} %>
    </div>

    <legend>Question's right answer</legend>
    <div class="form-group">
      <%= render partial: 'shared/markdown_input_editor',
                 locals: {form: f, field_name: :right_answer, markdown_value: @question.right_answer} %>
    </div>

    <div class="form-group">
      <%= f.label :application_area, :class => 'control-label' %>
      <%= collection_select(:question, :application_area_id, ApplicationArea.all, :id, :name, {}, {:class => 'form-control'}) %>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :is_private %> Don't share this question with the sKiller's community
      </label>
    </div>

    <%= link_to 'Cancel', questions_path, :class => 'btn btn-danger' %>
    <%= f.submit 'Save', :class => 'btn btn-primary' %>

<% end %>