<table class="table">
  <% if title != '' %>
      <thead>
      <tr>
        <th colspan="3"><%= title %></th>
      </tr>
      </thead>
  <% end %>
  <tbody>
  <% questions.each do |question| %>
      <tr>
        <td>
          <% if can? :read, question %>
              <%= link_to question.title, question_path(question) %>
          <% else %>
              <%= question.title %>
          <% end %>
          <br/>
          <small>
            Created
            <% if question.user %>
                by <%= question.user.organization.name %>,
              <% end %>
            <%= time_ago_in_words(question.created_at) %>
          </small>
        </td>
        <td>
          <span class="label label-default">
            <%= question.application_area.name if question.application_area %>
          </span>
          <br/>
          <span class="label label-primary">
            <%= question.quiz_questions.size %> times used
          </span>
          <br/>
          <span class="label label-warning">
            <%= number_to_percentage(question.get_answer_rate, precision: 0) %> answer rate
          </span>
        </td>

        <td class="pull-right">
          <% if can? :add_to_organization_repository, question %>
              <%= form_tag(add_to_organization_repository_question_path(question), method: "post") do %>
                  <% button_tag(:class => 'btn btn-xs btn-success') do %>
                      <%= icon('mail-forward') %>
                  <% end %>
              <% end %>
          <% end %>
          <% if can? :remove_from_organization_repository, question %>
              <%= form_tag(remove_from_organization_repository_question_path(question), method: "post") do %>
                  <% button_tag(:class => 'btn btn-xs btn-danger') do %>
                      <%= icon('mail-reply') %>
                  <% end %>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
