<div class="row">

  <div class="col-md-8">
    <div class="well well-sm">
      <h4><%= @question.title %></h4>
      <%= markdown(@question.statement) %>
      <hr/>
      <em><strong>Right answer</strong></em>
      <%= markdown@question.right_answer %>
    </div>
  </div>

  <div class="col-md-2 text-center">
    <span class="big-icon blue">
      <%= @question.quiz_questions.size %>
    </span>
    <br/>
    times used in quiz
  </div>

  <div class="col-md-2 text-center">
    <span class="big-icon blue">
      <%= number_to_percentage(@question.get_answer_rate, precision: 0) %>
    </span>
    <br/>
    right answer rate
  </div>

</div>

