<%= render 'shared/validation_helper', :resource => @quiz %>

<%= form_for @quiz, :role => 'form' do |f| %>

    <legend>Candidate</legend>
    <div class="form-group">
      <label class="control-label">Pick a candidate in the list</label>

      <%= f.collection_select :candidate_id, current_user.organization.candidates, :id, :email, {:prompt => "Select a candidate"}, {:class => 'form-control'} %>
    </div>
    <div class="form-group">
      <label class="control-label">Or create a new one by email</label>
      <%= f.text_field :new_candidate_email, :class => 'form-control', :placeholder => 'Type the candidate email' %>
    </div>

    <legend>Application areas</legend>
    <div class="form-group">
      <% ApplicationArea.all.each do |application_area| %>
          <div class="checkbox">
            <label>
              <%= check_box_tag "quiz[application_area_ids][]", application_area.id, @quiz.application_areas.include?(application_area) %>
              <%= application_area.name %>
            </label>
          </div>
      <% end %>
    </div>

    <hr/>

    <%= link_to 'Cancel', quizzes_path, :class => 'btn btn-default' %>
    <%= f.submit 'Save', :class => 'btn btn-primary' %>

<% end %>