
  <table id="quizzesTable" class="table table-bordered table-condensed table-striped">

    <thead>
    <tr>
      <th>Candidate email</th>
      <th>Public url</th>
      <th>Application Area</th>
      <th>Status</th>
      <th>Note</th>
    </tr>
    </thead>

    <tbody>
        <% @quizzes.each do |quiz| %>
            <tr>
              <td><%= quiz.candidate_email %></td>
              <td><%= link_to quiz_url(quiz), quiz_path(quiz) %></td>
              <td>
                <% quiz.application_areas.each do |application_area| %>
                    <span class="label label-default"><%= application_area.name %></span>
                <% end %>
              </td>
              <td><%= render partial:'quizzes/render_status', locals: {quiz: quiz} %></td>
              <td><%= quiz.note %></td>
            </tr>
        <% end %>
    </tbody>
  </table>
