<div class="row">
  <div class="col-md-8">
    <h3>A special quiz has been created for you</h3>
  </div>
</div>

<ul class="list-inline">
  <li class="text-muted">Skills required for this test : </li>
  <% @quiz.application_areas.each do |application_area| %>
      <li><span class="label label-default"><%= application_area.name %></span></li>
  <% end %>
</ul>

<%= form_for @quiz, :role => 'form' do |quiz_form| %>

    <%= quiz_form.fields_for :quiz_questions do |quiz_questions_fields| %>
        <label><%= quiz_questions_fields.object.question.statement %></label>
        <%= quiz_questions_fields.text_area :answer, :class => 'form-control' %>

    <% end %>

    <%= quiz_form.submit 'Save', :class => 'btn btn-primary' %>
<% end %>