<% if user_signed_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%= current_user.email %> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to destroy_user_session_path, :method => :delete  do %>
              <i class="fa fa-sign-out"></i>
              Logout
          <% end %>
        </li>
      </ul>
    </li>
<% else %>
    <li class="<%= current_page?(new_user_registration_path) ? 'active' : '' %>">
      <%= link_to 'Sign up', new_user_registration_path %>
    </li>
    <li class="<%= current_page?(new_user_session_path) ? 'active' : '' %>">
      <%= link_to 'Login', new_user_session_path %>
    </li>
<% end %>
