<%= render 'shared/validation_helper', :resource => @organization %>

<%= form_for @organization, :role => 'form' do |f| %>

    <div class="form-group">
      <%= f.label :name, :class => 'control-label' %>
      <%= f.text_field :name, :class => 'form-control', :placeholder => "Your company's name" %>
    </div>

    <div class="form-group">
      <%= f.label :image_url, :class => 'control-label' %>
      <%= f.text_field :image_url, :class => 'form-control', :placeholder => "Your company's logo" %>
      <span class="help-block">
        Hum... Ok, an image uploader would be great... But for now you will have to be happy with an url !
      </span>
    </div>

    <div class="form-group">
        <%= render partial: 'shared/markdown_input_editor', locals: {form: f, field_name: :bio, markdown_value: @organization.bio} %>
    </div>

    <% if @organization.id.blank? %>
        <div class="checkbox">
          <label>
            <%= check_box_tag :copy_public_question %> Would you like to copy all the public questions to your repository
          </label>
        </div>
    <% end %>

    <hr/>

    <%= link_to 'Cancel', root_path, :class => 'btn btn-default' %>
    <%= f.submit 'Save', :class => 'btn btn-primary' %>

<% end %>