<% content_for :title, 'Your organization' %>

<div class="row">
  <div class="col-md-4">
    <img src="<%= @organization.image_url%>" class="img-thumbnail">
  </div>

  <div class="col-md-6">
    <h4>
      <%= @organization.name %>
      <small> (Administrated by <strong><%= full_name(@organization.get_admin) %></strong>)</small>
      <%= link_to icon('edit'), edit_organization_path(@organization) %>
    </h4>
    <p>
      <%= markdown(@organization.bio) %>
    </p>
  </div>
</div>